.chart {
  display: block;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.lineBlue {
  stroke: blue;
}

.lineGreen {
  stroke: green;
}

.lineRed {
  stroke: red;
}

.xAxis,
.yAxis {
  font-size: 12px;
}

.xAxis path,
.xAxis line,
.yAxis path,
.yAxis line {
  stroke: #666;
}
